*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color:lightcoral;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    width: 135px;
    height: 44px;
    padding:12px 16px;
    font-weight: 600;

    
   
}
.section-heading{
    max-width: 1200px;
    text-align: center;
    color: #FFFFFF;

}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    margin-bottom: 160px;
    line-height: 20px;
    color: #FFFFFF;
}

header {
   background-color: #412567;
   width: 1600px;
   height: 625px;
   background:url(../assets/hero-circle.png),url(../assets/hero-bg.png);
   background-repeat: no-repeat;
   background-position: center ;
   padding-bottom: 160px;



}
.logo h2{
    font-size: 45px;
   


    
}
.color-white{
    color: #FFFFFF;}
.color-liner{
    color:rgb(243, 90, 184)
}
nav {
   width: 1120px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.text-center{
    text-align: center;
}
nav .menu{
    display: flex;
    gap: 30px;
    align-items:center;
    list-style: none;

}
nav .menu a{
    color: #ffffff;
    font-size: 16px;
    text-decoration: none ;
    align-items: center;
 

}
#banner{
   /* border: 1px solid red;*/
    margin:101px 610px;
    justify-content:space-around;
    align-items: center; 
}
.banner-image{
display: flex;
padding-top: 50px;
}
.banner-container p{
    font-size: 16px;
    width: 400px;
    height: 19px;
    align-items: center;
    padding-bottom: 60px;

}


.banner-content h1{
    color: #ffffff;
    text-align: center;
    padding-top: 140px;
    font-size: 60px;
    font-weight: 800;
   
 }

.banner-content p{
    font-size: 16px;
    color: #FFFFFF;
    text-align:center 
}
.btn1{
   background-color:lightcoral ;
   color: #FFFFFF;
    width: 190px;
    height: 44px;
    border-radius:20px;
    padding: 12px 20px;
    gap 5px;
    font-weight: 600;
   

}
.btn2{
    background-color: transparent;
    color: #00ff88;
    width: 147px;
    height: 44px;
    border-radius: 20px;
    padding: 12px 20px;
    font-weight: 600;

}
#about{
    padding-top: px;
    
}
#about .about-container{
    max-width: 1600px;
    margin:0 auto;
    text-align: center;
    background-color: #1A0B2E;
    padding: 120px 200px 374px 200px;

}#about .about-container .about-info{
    display: flex;
    justify-content: space-around;


}
.about-info .info-card p{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

}
.about-info .info-card h1{
    font-size: 48px;
    color: #00ff88;
    font-weight: bold;
}
.vdo-container{
    
}
footer{
    width: 1600px;
    height: 412px;
   
   background: url(../assets/footer-bg.png);
}
.footer-container h1{
  
  text-align: center;
  font-weight:bolder;
  font-size:;
  padding: 120px 0 0 0;
  margin-bottom: 35px;
}
.icons{      
      text-align: center;
   
    
  
    
}
.footer-container .icons a{
    color: #FFFFFF;
    margin-right: 107px;
    gap: 30px;
    text-decoration: none;
   
}
.footer-contant p{
    color: #FFFFFF;
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.hide{
    display: none !important;
}

@media screen and (max-width: 576px){
    #about .about-container{
        padding: 15px;
    }
   header{
    width: x;
   }
}
    
