*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color:lightcoral;
    color: #FFFFFF;
    margin-left: auto;
}
header {
   background-color: #412567; 
   padding-top: 30px;

}
.logo h2{
    font-size: 45px;

}
.color-white{
    color: #FFFFFF;}
.color-liner{
    background-color:lightcoral
}
nav {
    width: 71%;
    max-width:1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    text-align: center;
    list-style: none;
    gap: 32px;
   margin: auto;
  

}
nav .menu a{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;

}